.blur {
    width: 100%;
    display: block;
    background-color: var(--secCol);
    box-shadow: 2px 2px 40px 40px var(--secCol);
    transition: all 2s linear;
}

.name {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem .5rem;
}

.box {
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom:4vh ;

}

.box .heading {
    width: 300px;
    height: auto;
    margin: auto;
    margin-block:3vh ;
    padding: .5rem;
    font-size: large;
    background-color: var(--secCol);
}


.createBox {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.createBox div {
    margin-top: 1vh;
}

.createBox img {
    width: 300px;
    height: auto;
    margin: auto;
}

.tex {
    width: 300px;
    margin: auto;
}

.aboutCont {
    width: 300px;
    text-align: left;
    margin: auto;
}

.aboutImg {
    width: 600px;
    height: auto;
    margin: auto;
    border-radius: 15px;
}

.texlink {
    color: grey;
    font-weight: 700;
    text-decoration: underline;
}

.fa-box {
    width: 600px;
    margin: 1rem;
    transition: all 1s linear;
}

.fa-box .fl {
    background-color: var(--secCol);
    padding: 1.5rem;
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.fa-box .detail {
    padding: 1rem;
    border: 2px solid var(--secCol);
    border-radius: 15px;
}

.btn-fa {
    background-color: transparent;
}

.ic-fa {
    font-size: 18px;
}

.cont-form {
    width: 600px;
    /* border: 2px solid var(--secCol); */
    padding: 1rem;
}



.cont-form iframe,
.goog-form{
    width: 600px;
    height: 600px;
    margin: auto;
}

.serCont{
    width: 95%;
    font-size: 23px;
    margin: auto;
}

.fullImg{
    width: 100%;
    height: auto;
}

.servBox{
    width: 95%;
    height: auto;
    text-align: center;
    margin-block: 1.5vh;
    border: 2px solid var(--secCol);
    padding: 2rem .2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 20px;
}
.servBox li,
.servBox h1{
    width: 300px;
    margin: auto;
}

.con-soc{
    width: 300px;
    height: auto;
    margin: auto;
    padding: 1vh .5rem;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.con-soc p{
    width: 50px;
    height: 50px;
    background-color: var(--terCol);
    overflow: hidden;
}

.con-soc p a{
    padding: 0;
}

.instaImg{
    object-fit: cover;
    width: 100%;
    height: auto;
    color: blue;
}

.whatImg{
     object-fit: cover;
    width: 100%;
    height: auto;
    color: green;
}
.faceImg{
    object-fit: cover;
    width: 100%;
    height: auto;
    color: crimson;
}

.emailImg{
    object-fit: cover;
    width: 100%;
    height: auto;
    color: red;

}

.pop{
    border: 2px solid var(--secCol);
    background-color: var(--secCol);
    padding: 1rem;
    border-radius: 20px;
}

.foot{
    width: 100%;
    height: auto;
    padding-block: 7vh;
    margin-top: 5vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    border-top: 4px solid var(--secCol);
}

.foot div{
    width: 300px;
    padding-block: 1rem;
    margin: auto;
}



@media screen and (max-width:610px) {
    .aboutImg {
        width: 100%;
        border-radius: 0;
    }


}